#post strong {
  padding: 1px 5px 3px 5px;
  margin: 0 3px;
  border-radius: 3px;
  color: var(--heo-white);
  background-color: var(--heo-theme);
}
#post {
  flex: 1;
}
#post table thead {
  background-color: var(--blockquote-bg);
}
.post .icon-heologo:before {
  color: var(--light-grey);
}
#page-header {
  background-image: none !important;
  display: flex;
  justify-content: center;
}
#page-header.post-bg {
  height: 20rem;
}
#page-header.post-bg::before {
  transition: 0s;
  height: 20rem;
  background-color: var(--heo-main);
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  content: "";
  /* backdrop-filter: saturate(50%); */
}
#page-header.post-bg {
  background-color: var(--heo-main);
  transition: 0s;
  overflow: hidden;
}
.post-bg #post-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
  opacity: 0.8;
}
.coverdiv {
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 -20% 0 auto;
  overflow: hidden;
  margin-bottom: 0;
  transform: rotate(10deg) translateY(-10%) scale(2);
  filter: blur(10px);
  -webkit-mask: radial-gradient(closest-side, #000 0%, transparent 100%);
}
.coverdiv.loaded {
  display: block;
}
.coverdiv:before {
  box-shadow: 100px -69px 100px 11px var(--heo-main) inset;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.post-bg #post-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
  opacity: 0.8;
}
#content-inner {
  opacity: 1 !important;
}
#page-header.nav-fixed #nav {
  background-color: #fff;
  border-bottom: 1px solid var(--heo-card-border);
}
#post-info .post-title {
  color: var(--heo-white);
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
  text-align: left;
  margin: 1rem 0 1rem 0 !important;
  -webkit-line-clamp: 2;
  padding: 0;
  overflow: hidden;
}
#post-info #post-meta {
  color: var(--heo-white);
  margin-top: 0.4rem;
  transition: 0.3s;
  display: flex;
  font-size: 95%;
}
#page-header #post-info {
  position: absolute;
  padding: 0px 8%;
  width: 100%;
  text-align: center;
}
#page-header #post-info {
  top: 0;
  position: absolute;
  padding: 0 3rem;
  margin: 0 auto;
  z-index: 10;
  color: var(--heo-white);
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100% + 0px);
  justify-content: center;
}
@media screen and (min-width: 1300px) {
  .layout {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
  #page-header #post-info {
    height: calc(100% + 0px);
    top: 0;
    display: flex;
    justify-content: center;
  }
}
.layout#content-inner {
  max-width: 1400px;
}

#post-info .meta-firstline {
  display: flex;
  align-items: center;
}
a.post-meta-categories {
  background: var(--heo-white-op);
  color: var(--heo-white);
  padding: 0 0.5rem;
  font-size: 0.7rem;
  margin: auto;
  border-radius: 8px;
  font-weight: bold;
  line-height: 32px;
  height: 32px;
  width: 100%;
  height: 100%;
  display: flex;
}
a.post-meta-categories:not(:first-child) {
  margin-left: 8px;
}
a.post-meta-categories:hover {
  color: var(--heo-main) !important;
  background: var(--heo-white) !important;
  border-radius: 8px !important;
}
.meta-firstline .post-meta-tags-list {
  margin-left: 1.4rem;
}
.meta-firstline .post-meta-tags-list .post-meta-tags {
  color: var(--heo-white);
  opacity: 0.6;
  margin-right: 1rem;
}
.meta-firstline .post-meta-tags-list .post-meta-tags::before {
  content: "\f292";
  top: -0.1em;
  position: relative;
  opacity: 0.6;
  margin-right: 0.15em;
  font-size: 80%;
  font-family: "Font Awesome 6 Free";
}
.meta-firstline .post-meta-tags-list .post-meta-tags:hover {
  color: var(--heo-white);
  opacity: 1;
}
.meta-secondline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.meta-secondline > span {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-right: 0.8rem;
}

.meta-secondline > span i {
  margin-right: 0.3rem;
}
.article-sort-item .article-sort-item-img img:hover {
  transform: unset;
}
.article-sort-item-info {
  padding: 0 1rem;
}
.article-sort-item-title {
  font-size: 0.9rem;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.article-sort-item-title:hover {
  transform: unset;
}
.layout > div:first-child {
  flex: 1;
}
#recent-posts .recent-post-item {
  height: fit-content;
  background: var(--heo-card-bg);
  border-radius: 12px;
  cursor: pointer;
  border: var(--style-border);
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  margin-top: 0.5rem;
  position: relative;
  /* overflow: hidden; */
  -webkit-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
}
#recent-posts > .recent-post-item .post_cover {
  height: 225px !important;
}
#recent-posts > .recent-post-item > .recent-post-info > .article-title {
  line-height: 30px;
  margin-top: 0;
  font-weight: bold;
  color: var(--heo-fontcolor);
  margin-bottom: 0;
  width: 100%;
  transition: 0.3s;
  font-size: 1.2rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
#recent-posts .recent-post-item:hover {
  border: var(--style-border-hover);
  box-shadow: var(--heo-shadow-main);
}
#recent-posts .recent-post-item:hover .recent-post-info .article-title {
  color: var(--heo-theme);
}
a.article-meta__categories {
  position: absolute;
  padding: 1px 6px;
  background: var(--heo-black-op);
  border-radius: 8px;
  margin-left: 0px;
  font-size: 12px;
  font-weight: bold;
  color: var(--heo-white);
  top: 8px;
  left: 8px;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transform: translateZ(0);
}
a.article-meta__categories:hover {
  background: var(--heo-theme) !important;
  color: var(--heo-white) !important;
  box-shadow: var(--heo-shadow-theme);
}
.article-meta-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recent-posts > .recent-post-item > .recent-post-info {
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  padding: 0 32px;
  width: 100%;
}
#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  > .tags:before {
  content: unset !important;
}
#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  a.article-meta__tags {
  margin-right: 8px;
  padding: 0 0.2rem;
  padding-left: 0;
  /* color: var(--heo-fontcolor); */
  text-decoration: none;
}
a.article-meta__tags::before {
  content: "\f292";
  top: -0.1em;
  position: relative;
  opacity: 0.4;
  margin-right: 0.15em;
  font-size: 60%;
  font-family: "Font Awesome 6 Free";
}
#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  a.article-meta__tags:hover {
  color: var(--heo-hovertext);
  cursor: pointer;
  border-radius: 4px;
}
#article-container .tag-Link:hover a {
  color: var(--style-border-hover);
}
#category-bar {
  padding: 0.4rem 1rem 0.4rem 0.7rem;
  background: var(--heo-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1.6rem;
  border: var(--style-border);
  transition: 0.3s;
  width: 100%;
  justify-content: space-between;
  -webkit-user-select: none;
}
#recent-posts > #category-bar:hover {
  border: var(--style-border-hover);
  box-shadow: var(--heo-shadow-main);
}
#recent-posts > #category-bar {
  margin-top: 20px;
  margin-bottom: 15px;
}
#category #category-bar {
  padding: 0;
  border: none;
}
#category a.category-bar-item.select a {
  display: none;
}
.category-in-bar {
  display: flex;
  white-space: nowrap;
}
.category-in-bar-tips {
  margin-right: 1rem;
  font-size: 0.8rem;
}
.category-bar-items {
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  /* justify-content: center;
  flex: 1; */
  align-items: center;
}
.category-bar-items::-webkit-scrollbar {
  display: none;
}
.category-bar-item a {
  padding: 0.2rem 0.5rem;
  margin: 0 0.3rem;
  font-weight: bold;
  border-radius: 8px;
  font-size: 0.8rem;
}
.category-bar-item a:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}
.category-bar-item.select a {
  background: var(--heo-main);
  color: var(--heo-white);
  border-radius: 8px;
}
.category-bar-more {
  margin-left: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 1300px) {
  #recent-posts > .recent-post-item:not(:first-child) {
    width: calc(100% / 2 - 0.5rem);
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    box-shadow: var(--heo-shadow-border);
    clip-path: inset(0 0 0 0 round 8px);
  }
  #recent-posts > .recent-post-item > .recent-post-info > a.article-title {
    font-size: 1rem;
    -webkit-line-clamp: 1;
  }
  #recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap,
  .post-meta-date time {
    font-size: 0.7rem;
  }
}

/* #post a:hover {
  color: var(--heo-main);
}
#aside-content #card-toc .toc-content .toc-link.active {
  background-color: var(--heo-main);
}
#aside-content #card-toc .toc-content .toc-link:hover {
  color: var(--heo-main);
}
#aside-content #card-toc .toc-content .toc-link.active:hover {
  color: var(--heo-white);
} */
